nav {
	background-color: #ff565d;
}

.parallax-container{
	height: 70vh;
}

h1{
	color: #fff;
	font-weight: bolder;
}

.ul {
  display: block !important;
  list-style-type: disc !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 40px !important;
}
.card-title{
	font-weight: bolder !important;
	color: #000 !important;
}

.card-image{
	height: 360px;
}